In [111]:
import math #mathematical computation
import pandas as pd #dataframe
# pd.set_option('max_rows', 10000)
# pd.set_option('max_colwidth', 400)
# pd.describe_option('max_colwidth')
import numpy as np #mathematical computations
import matplotlib.pyplot as plt #visualization
import matplotlib
import joblib #saving the model
import seaborn as sns #visualization
import json #exporting columns
import pickle #saving the model
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, OrdinalEncoder, MinMaxScaler

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier, export_graphviz #Decision Tree Classifier
from sklearn.metrics import accuracy_score, confusion_matrix, r2_score #Performance metrics

from sklearn.linear_model import LinearRegression #Linear Regression
from sklearn.linear_model import Lasso #Lasso Regression
from sklearn.tree import DecisionTreeRegressor #Decision Tree Regression
from sklearn.ensemble import RandomForestRegressor #Random Forest Regression
from xgboost import XGBRegressor # XGBoost Regression
from sklearn.model_selection import train_test_split #Splitting the dataset into training and testing
from sklearn.model_selection import ShuffleSplit #Random shuffling
from sklearn.model_selection import cross_val_score #Score cross validation
from sklearn.model_selection import cross_validate #Score cross validation
from sklearn.model_selection import GridSearchCV #Hyper parameter tuning

from statistics import stdev
from warnings import simplefilter #Filtering warnings

import warnings
warnings.filterwarnings('ignore')

##showing all columns in output##

#################################

In [114]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [115]:
dataframe = pd.read_csv('/content/laptopPrice.csv') #loading the raw_dataset from excel sheet
dataframe.head()
dataframe.shape

(823, 19)

In [116]:
dataframe.head(2)

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,ASUS,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5

In [117]:
dataframe.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,ASUS,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,ASUS,Intel,Core i5,10th,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,ASUS,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0

In [118]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 823 entries, 0 to 822
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   brand              823 non-null    object
 1   processor_brand    823 non-null    object
 2   processor_name     823 non-null    object
 3   processor_gnrtn    823 non-null    object
 4   ram_gb             823 non-null    object
 5   ram_type           823 non-null    object
 6   ssd                823 non-null    object
 7   hdd                823 non-null    object
 8   os                 823 non-null    object
 9   os_bit             823 non-null    object
 10  graphic_card_gb    823 non-null    object
 11  weight             823 non-null    object
 12  warranty           823 non-null    object
 13  Touchscreen        823 non-null    object
 14  msoffice           823 non-null    object
 15  Price              823 non-null    int64
 16  rating             823 non-null    object
 17  Number of Ratings  823 non-null    int64
 18  Number of Reviews  823 non-null    int64
dtypes: int64(3), object(16)
memory usage: 122.3+ KB

In [119]:
dataframe.shape

(823, 19)

In [120]:
dataframe.columns

Index(['brand', 'processor_brand', 'processor_name', 'processor_gnrtn',
       'ram_gb', 'ram_type', 'ssd', 'hdd', 'os', 'os_bit', 'graphic_card_gb',
       'weight', 'warranty', 'Touchscreen', 'msoffice', 'Price', 'rating',
       'Number of Ratings', 'Number of Reviews'],
      dtype='object')

In [121]:
dataframe.dtypes

brand                object
processor_brand      object
processor_name       object
processor_gnrtn      object
ram_gb               object
ram_type             object
ssd                  object
hdd                  object
os                   object
os_bit               object
graphic_card_gb      object
weight               object
warranty             object
Touchscreen          object
msoffice             object
Price                 int64
rating               object
Number of Ratings     int64
Number of Reviews     int64
dtype: object

In [122]:
#Here, it is very evident to me that some attributes did not have a numerical value.
#As a result, an algorithm cannot be applied to a model that contains data of the object type. 
#I now have to convert this attribues into a number value because of this
#First of all i am making a copy of the dataset where i will make some data preprocessing
df = dataframe.copy() 

# Checking if the dataframe has been copied into the df

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 823 entries, 0 to 822
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   brand              823 non-null    object
 1   processor_brand    823 non-null    object
 2   processor_name     823 non-null    object
 3   processor_gnrtn    823 non-null    object
 4   ram_gb             823 non-null    object
 5   ram_type           823 non-null    object
 6   ssd                823 non-null    object
 7   hdd                823 non-null    object
 8   os                 823 non-null    object
 9   os_bit             823 non-null    object
 10  graphic_card_gb    823 non-null    object
 11  weight             823 non-null    object
 12  warranty           823 non-null    object
 13  Touchscreen        823 non-null    object
 14  msoffice           823 non-null    object
 15  Price              823 non-null    int64
 16  rating             823 non-null    object
 17  Number of Ratings  823 non-null    int64
 18  Number of Reviews  823 non-null    int64
dtypes: int64(3), object(16)
memory usage: 122.3+ KB

In [123]:
#Now I will start data preprocessing

#The feature which have String type value is hair_loss.

#So first i want to see how many distinct values which will help me to convert the categorical value into numerical value

df['brand'].value_counts()

ASUS      249
DELL      151
Lenovo    144
HP        136
acer       51
MSI        50
APPLE      28
Avita      14
Name: brand, dtype: int64

In [124]:
df['brand'].replace('ASUS',0,inplace=True)
df['brand'].replace('DELL',1,inplace=True)
df['brand'].replace('Lenovo',2,inplace=True)
df['brand'].replace('HP',3,inplace=True)
df['brand'].replace('acer',4,inplace=True)
df['brand'].replace('MSI',5,inplace=True)
df['brand'].replace('APPLE',6,inplace=True)
df['brand'].replace('Avita',7,inplace=True)

In [125]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,0,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,2,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,2,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,0,Intel,Core i5,10th,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,0,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 823 entries, 0 to 822
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   brand              823 non-null    int64
 1   processor_brand    823 non-null    object
 2   processor_name     823 non-null    object
 3   processor_gnrtn    823 non-null    object
 4   ram_gb             823 non-null    object
 5   ram_type           823 non-null    object
 6   ssd                823 non-null    object
 7   hdd                823 non-null    object
 8   os                 823 non-null    object
 9   os_bit             823 non-null    object
 10  graphic_card_gb    823 non-null    object
 11  weight             823 non-null    object
 12  warranty           823 non-null    object
 13  Touchscreen        823 non-null    object
 14  msoffice           823 non-null    object
 15  Price              823 non-null    int64
 16  rating             823 non-null    object
 17  Number of Ratings  823 non-null    int64
 18  Number of Reviews  823 non-null    int64
dtypes: int64(4), object(15)
memory usage: 122.3+ KB

In [127]:
df['processor_brand'].value_counts()

Intel    610
AMD      189
M1        24
Name: processor_brand, dtype: int64

In [128]:
df['processor_brand'].replace('Intel',0,inplace=True)
df['processor_brand'].replace('AMD',1,inplace=True)
df['processor_brand'].replace('M1',2,inplace=True)

In [129]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,0,0,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,2,0,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,2,0,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,0,0,Core i5,10th,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,0,0,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0

In [130]:
df['processor_name'].value_counts()

Core i5         290
Core i3         164
Core i7         110
Ryzen 5          82
Ryzen 7          56
Ryzen 3          26
Ryzen 9          26
Celeron Dual     24
M1               24
Pentium Quad     13
Core i9           8
Name: processor_name, dtype: int64

In [131]:
df['processor_name'].replace('Core i5',0,inplace=True)
df['processor_name'].replace('Core i3',1,inplace=True)
df['processor_name'].replace('Core i7',2,inplace=True)
df['processor_name'].replace('Ryzen 5',3,inplace=True)
df['processor_name'].replace('Ryzen 7',4,inplace=True)
df['processor_name'].replace('Ryzen 3',5,inplace=True)
df['processor_name'].replace('Ryzen 9',6,inplace=True)
df['processor_name'].replace('Celeron Dual',7,inplace=True)
df['processor_name'].replace('M1',8,inplace=True)
df['processor_name'].replace('Pentium Quad',9,inplace=True)
df['processor_name'].replace('Core i9',10,inplace=True)

In [132]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,0,0,1,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,2,0,1,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,2,0,1,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,0,0,0,10th,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,0,0,7,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0

In [133]:
df['processor_gnrtn'].value_counts()

11th             334
Not Available    225
10th             204
8th               41
7th                9
9th                6
12th               3
4th                1
Name: processor_gnrtn, dtype: int64

In [134]:
df['processor_gnrtn'].replace('Not Available',0,inplace=True)
df['processor_gnrtn'].replace('4th',1,inplace=True)
df['processor_gnrtn'].replace('7th',2,inplace=True)
df['processor_gnrtn'].replace('8th',3,inplace=True)
df['processor_gnrtn'].replace('9th',4,inplace=True)
df['processor_gnrtn'].replace('10th',5,inplace=True)
df['processor_gnrtn'].replace('11th',6,inplace=True)
df['processor_gnrtn'].replace('12th',7,inplace=True)

In [135]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,0,0,1,5,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,2,0,1,5,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,2,0,1,5,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,0,0,0,5,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,0,0,7,0,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0

In [136]:
df['ram_gb'].value_counts()

8 GB     418
4 GB     226
16 GB    177
32 GB      2
Name: ram_gb, dtype: int64

In [137]:
df['ram_gb'].replace('8 GB',8,inplace=True)
df['ram_gb'].replace('4 GB',4,inplace=True)
df['ram_gb'].replace('16 GB',16,inplace=True)
df['ram_gb'].replace('32 GB',32,inplace=True)

In [138]:
df['ram_gb'].value_counts()

8     418
4     226
16    177
32      2
Name: ram_gb, dtype: int64

In [139]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,0,0,1,5,4,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,2,0,1,5,4,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,2,0,1,5,4,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,0,0,0,5,8,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,0,0,7,0,4,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0

In [140]:
df['ram_type'].value_counts()

DDR4       709
LPDDR4X     58
LPDDR4      27
LPDDR3      14
DDR5         8
DDR3         7
Name: ram_type, dtype: int64

In [141]:
df['ram_type'].replace('DDR4',0,inplace=True)
df['ram_type'].replace('LPDDR4X',1,inplace=True)
df['ram_type'].replace('LPDDR4',2,inplace=True)
df['ram_type'].replace('LPDDR3',3,inplace=True)
df['ram_type'].replace('DDR5',4,inplace=True)
df['ram_type'].replace('DDR3',5,inplace=True)

In [142]:
df['ram_type'].value_counts()

0    709
1     58
2     27
3     14
4      8
5      7
Name: ram_type, dtype: int64

In [143]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,0,0,1,5,4,0,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,2,0,1,5,4,0,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,2,0,1,5,4,0,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,0,0,0,5,8,0,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,0,0,7,0,4,0,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0

In [144]:
df['ssd'].value_counts()

512 GB     398
256 GB     184
0 GB       124
1024 GB    111
128 GB       3
2048 GB      2
3072 GB      1
Name: ssd, dtype: int64

In [145]:
df['ssd'].replace('512 GB',512,inplace=True)
df['ssd'].replace('256 GB',256,inplace=True)
df['ssd'].replace('0 GB',0,inplace=True)
df['ssd'].replace('1024 GB',1024,inplace=True)
df['ssd'].replace('128 GB',1028,inplace=True)
df['ssd'].replace('2048 GB',2048,inplace=True)
df['ssd'].replace('3072',3072,inplace=True)

In [146]:
df['ssd'].value_counts()

512        398
256        184
0          124
1024       111
1028         3
2048         2
3072 GB      1
Name: ssd, dtype: int64

In [147]:
df['hdd'].value_counts()

0 GB       621
1024 GB    160
512 GB      41
2048 GB      1
Name: hdd, dtype: int64

In [148]:
df['hdd'].replace('0 GB',0,inplace=True)

In [149]:
df['hdd'].replace('1024 GB',1024,inplace=True)
df['hdd'].replace('512 GB',512,inplace=True)
df['hdd'].replace('2048 GB',2048,inplace=True)

In [150]:
df['hdd'].value_counts()

0       621
1024    160
512      41
2048      1
Name: hdd, dtype: int64

In [151]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,0,0,1,5,4,0,0,1024,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,2,0,1,5,4,0,0,1024,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,2,0,1,5,4,0,0,1024,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,0,0,0,5,8,0,512,0,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,0,0,7,0,4,0,0,512,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0

In [152]:
df['os'].value_counts()

Windows    779
Mac         28
DOS         16
Name: os, dtype: int64

In [153]:
df['os'].replace('Windows',0,inplace=True)
df['os'].replace('Mac',1,inplace=True)
df['os'].replace('DOS',2,inplace=True)

In [154]:
df['os'].value_counts()

0    779
1     28
2     16
Name: os, dtype: int64

In [155]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,0,0,1,5,4,0,0,1024,0,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,2,0,1,5,4,0,0,1024,0,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,2,0,1,5,4,0,0,1024,0,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,0,0,0,5,8,0,512,0,0,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,0,0,7,0,4,0,0,512,0,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0

In [156]:
df['os_bit'].value_counts()

64-bit    714
32-bit    109
Name: os_bit, dtype: int64

In [157]:
df['os_bit'].replace('64-bit',64,inplace=True)
df['os_bit'].replace('32-bit',32,inplace=True)

In [158]:
df['os_bit'].value_counts()

64    714
32    109
Name: os_bit, dtype: int64

In [159]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,0,0,1,5,4,0,0,1024,0,64,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,2,0,1,5,4,0,0,1024,0,64,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,2,0,1,5,4,0,0,1024,0,64,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,0,0,0,5,8,0,512,0,0,32,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,0,0,7,0,4,0,0,512,0,64,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0

In [160]:
df['graphic_card_gb'].value_counts()

0 GB    577
4 GB    128
2 GB     67
6 GB     37
8 GB     14
Name: graphic_card_gb, dtype: int64

In [161]:
df['graphic_card_gb'].replace('0 GB',0,inplace=True)
df['graphic_card_gb'].replace('2 GB',2,inplace=True)
df['graphic_card_gb'].replace('4 GB',4,inplace=True)
df['graphic_card_gb'].replace('6 GB',6,inplace=True)
df['graphic_card_gb'].replace('8 GB',8,inplace=True)

In [162]:
df['graphic_card_gb'].value_counts()

0    577
4    128
2     67
6     37
8     14
Name: graphic_card_gb, dtype: int64

In [163]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,0,0,1,5,4,0,0,1024,0,64,0,Casual,No warranty,No,No,34649,2 stars,3,0
1,2,0,1,5,4,0,0,1024,0,64,0,Casual,No warranty,No,No,38999,3 stars,65,5
2,2,0,1,5,4,0,0,1024,0,64,0,Casual,No warranty,No,No,39999,3 stars,8,1
3,0,0,0,5,8,0,512,0,0,32,2,Casual,No warranty,No,No,69990,3 stars,0,0
4,0,0,7,0,4,0,0,512,0,64,0,Casual,No warranty,No,No,26990,3 stars,0,0

In [164]:
df['weight'].value_counts()

Casual        520
ThinNlight    264
Gaming         39
Name: weight, dtype: int64

In [165]:
df['weight'].replace('Casual',0,inplace=True)
df['weight'].replace('ThinNlight',1,inplace=True)
df['weight'].replace('Gaming',2,inplace=True)

In [166]:
df['weight'].value_counts()

0    520
1    264
2     39
Name: weight, dtype: int64

In [167]:
df.head(
)

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,0,0,1,5,4,0,0,1024,0,64,0,0,No warranty,No,No,34649,2 stars,3,0
1,2,0,1,5,4,0,0,1024,0,64,0,0,No warranty,No,No,38999,3 stars,65,5
2,2,0,1,5,4,0,0,1024,0,64,0,0,No warranty,No,No,39999,3 stars,8,1
3,0,0,0,5,8,0,512,0,0,32,2,0,No warranty,No,No,69990,3 stars,0,0
4,0,0,7,0,4,0,0,512,0,64,0,0,No warranty,No,No,26990,3 stars,0,0

In [168]:
df['warranty'].value_counts()

1 year         509
No warranty    278
2 years         23
3 years         13
Name: warranty, dtype: int64

In [169]:
df['warranty'].replace('No warranty',0,inplace=True)
df['warranty'].replace('1 year',1,inplace=True)
df['warranty'].replace('2 years',2,inplace=True)
df['warranty'].replace('3 years',3,inplace=True)

In [170]:
df['warranty'].value_counts()

1    509
0    278
2     23
3     13
Name: warranty, dtype: int64

In [171]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,0,0,1,5,4,0,0,1024,0,64,0,0,0,No,No,34649,2 stars,3,0
1,2,0,1,5,4,0,0,1024,0,64,0,0,0,No,No,38999,3 stars,65,5
2,2,0,1,5,4,0,0,1024,0,64,0,0,0,No,No,39999,3 stars,8,1
3,0,0,0,5,8,0,512,0,0,32,2,0,0,No,No,69990,3 stars,0,0
4,0,0,7,0,4,0,0,512,0,64,0,0,0,No,No,26990,3 stars,0,0

In [172]:
df['Touchscreen'].value_counts()

No     726
Yes     97
Name: Touchscreen, dtype: int64

In [173]:
df['Touchscreen'].replace('No',0,inplace=True)
df['Touchscreen'].replace('Yes',1,inplace=True)

In [174]:
df['Touchscreen'].value_counts()

0    726
1     97
Name: Touchscreen, dtype: int64

In [175]:
df['msoffice'].value_counts()

No     542
Yes    281
Name: msoffice, dtype: int64

In [176]:
df['msoffice'].replace('No',0,inplace=True)
df['msoffice'].replace('Yes',1,inplace=True)

In [177]:
df['msoffice'].value_counts()

0    542
1    281
Name: msoffice, dtype: int64

In [178]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,0,0,1,5,4,0,0,1024,0,64,0,0,0,0,0,34649,2 stars,3,0
1,2,0,1,5,4,0,0,1024,0,64,0,0,0,0,0,38999,3 stars,65,5
2,2,0,1,5,4,0,0,1024,0,64,0,0,0,0,0,39999,3 stars,8,1
3,0,0,0,5,8,0,512,0,0,32,2,0,0,0,0,69990,3 stars,0,0
4,0,0,7,0,4,0,0,512,0,64,0,0,0,0,0,26990,3 stars,0,0

In [179]:
df['rating'].value_counts()

4 stars    444
3 stars    352
5 stars     16
2 stars      9
1 star       2
Name: rating, dtype: int64

In [180]:
df['rating'].replace('1 star',1,inplace=True)
df['rating'].replace('2 stars',2,inplace=True)
df['rating'].replace('3 stars',3,inplace=True)
df['rating'].replace('4 stars',4,inplace=True)
df['rating'].replace('5 stars',5,inplace=True)

In [181]:
df['rating'].value_counts()

4    444
3    352
5     16
2      9
1      2
Name: rating, dtype: int64

In [182]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,0,0,1,5,4,0,0,1024,0,64,0,0,0,0,0,34649,2,3,0
1,2,0,1,5,4,0,0,1024,0,64,0,0,0,0,0,38999,3,65,5
2,2,0,1,5,4,0,0,1024,0,64,0,0,0,0,0,39999,3,8,1
3,0,0,0,5,8,0,512,0,0,32,2,0,0,0,0,69990,3,0,0
4,0,0,7,0,4,0,0,512,0,64,0,0,0,0,0,26990,3,0,0

In [94]:
df.to_csv('/content/drive/MyDrive/pre_data.csv', index=False)

In [183]:
df['Price'] = df['Price'] + 10

In [184]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,0,0,1,5,4,0,0,1024,0,64,0,0,0,0,0,34659,2,3,0
1,2,0,1,5,4,0,0,1024,0,64,0,0,0,0,0,39009,3,65,5
2,2,0,1,5,4,0,0,1024,0,64,0,0,0,0,0,40009,3,8,1
3,0,0,0,5,8,0,512,0,0,32,2,0,0,0,0,70000,3,0,0
4,0,0,7,0,4,0,0,512,0,64,0,0,0,0,0,27000,3,0,0

In [185]:
df['Price'] = df['Price'] - 10

In [186]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,0,0,1,5,4,0,0,1024,0,64,0,0,0,0,0,34649,2,3,0
1,2,0,1,5,4,0,0,1024,0,64,0,0,0,0,0,38999,3,65,5
2,2,0,1,5,4,0,0,1024,0,64,0,0,0,0,0,39999,3,8,1
3,0,0,0,5,8,0,512,0,0,32,2,0,0,0,0,69990,3,0,0
4,0,0,7,0,4,0,0,512,0,64,0,0,0,0,0,26990,3,0,0

In [187]:
df['Price'] = (df['Price'] *1.30)

df['Price'] = df['Price'].astype(int)

In [188]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,0,0,1,5,4,0,0,1024,0,64,0,0,0,0,0,45043,2,3,0
1,2,0,1,5,4,0,0,1024,0,64,0,0,0,0,0,50698,3,65,5
2,2,0,1,5,4,0,0,1024,0,64,0,0,0,0,0,51998,3,8,1
3,0,0,0,5,8,0,512,0,0,32,2,0,0,0,0,90987,3,0,0
4,0,0,7,0,4,0,0,512,0,64,0,0,0,0,0,35087,3,0,0

In [190]:
df.to_csv('/content/drive/MyDrive/dataPre.csv', index=False)