In [2]:
import math #mathematical computation
import pandas as pd #dataframe
# pd.set_option('max_rows', 10000)
# pd.set_option('max_colwidth', 400)
# pd.describe_option('max_colwidth')
import numpy as np #mathematical computations
import matplotlib.pyplot as plt #visualization
import matplotlib
import joblib #saving the model
import seaborn as sns #visualization
import json #exporting columns
import pickle #saving the model
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, OrdinalEncoder, MinMaxScaler

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier, export_graphviz #Decision Tree Classifier
from sklearn.metrics import accuracy_score, confusion_matrix, r2_score #Performance metrics

from sklearn.linear_model import LinearRegression #Linear Regression
from sklearn.linear_model import Lasso #Lasso Regression
from sklearn.tree import DecisionTreeRegressor #Decision Tree Regression
from sklearn.ensemble import RandomForestRegressor #Random Forest Regression
from xgboost import XGBRegressor # XGBoost Regression
from sklearn.model_selection import train_test_split #Splitting the dataset into training and testing
from sklearn.model_selection import ShuffleSplit #Random shuffling
from sklearn.model_selection import cross_val_score #Score cross validation
from sklearn.model_selection import cross_validate #Score cross validation
from sklearn.model_selection import GridSearchCV #Hyper parameter tuning

from statistics import stdev
from warnings import simplefilter #Filtering warnings

import warnings
warnings.filterwarnings('ignore')

##showing all columns in output##

#################################

In [3]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
data = pd.read_csv('D - Main.csv', on_bad_lines='skip')

In [5]:
data

,Price,Brand,Processor Brand,Processor Model,Generation,Processor Base Frequency,Processor Max Frequency,Processor Core,Processor Thread,CPU Cache,RAM,RAM Type,Storage Capacity,Display Size,Graphics Memory,Battery Capacity
0,70400,Acer,Intel,Core i5,11th Gen,2.4,4.2,4.0,8,8.0,8GB,DDR4,1TB,14,Shared,48.0
1,129800,MSI,Intel,Core i7,11th Gen,2.3,4.6,8.0,16,24.0,8GB,DDR4,1TB,15.6,4GB,51.0
2,29950,AVITA,Intel,Celeron N4020,NaN,1.1,2.8,2.0,2,4.0,4GB,LPDDR4,256GB,14,Shared,10.0
3,32010,Toshiba,Intel,Celeron 5205U,10th Gen,1.9,1.9,2.0,2,2.0,4GB,DDR4,128GB,14,Shared,45.0
4,32999,DOEL,AMD,A9-9425,NaN,3.1,3.7,2.0,2,1.0,4GB,DDR4,240GB,14.1,Shared,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1193,56000,Dell,Intel,Core i3,11th Gen,3,4.1,6.0,8,6.0,4GB,DDR4,512GB SSD,15.6,Shared,42.0
1194,53000,Lenovo,Intel,Core i3,11th Gen,3,4.1,12.0,8,6.0,4GB,DDR4,1GB SSD,14,Shared,38.0
1195,56500,Lenovo,Intel,Core i3,11th Gen,3,4.1,12.0,8,6.0,4GB,DDR4,1GB SSD,14,Shared,38.0
1196,154000,Acer,Intel,Core i7,10th Gen,2.6,4.2,10.0,8,24.0,16GB,DDR4,1GB SSD,15.6,Shared,37.0
1197,95000,Microsoft,Intel,Core i5,10th Gen,2.1,4.2,4.0,8,24.0,8GB,LPDDR4,128GB SSD,12.3,Shared,40.0

In [6]:
data.shape

(1198, 16)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1198 entries, 0 to 1197
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Price                     1198 non-null   int64
 1   Brand                     1198 non-null   object
 2   Processor Brand           1178 non-null   object
 3   Processor Model           1172 non-null   object
 4   Generation                1133 non-null   object
 5   Processor Base Frequency  1174 non-null   object
 6   Processor Max Frequency   1174 non-null   float64
 7   Processor Core            1165 non-null   float64
 8   Processor Thread          1178 non-null   object
 9   CPU Cache                 1197 non-null   float64
 10  RAM                       1181 non-null   object
 11  RAM Type                  1165 non-null   object
 12  Storage Capacity          1169 non-null   object
 13  Display Size              1176 non-null   object
 14  Graphics Memory           1156 non-null   object
 15  Battery Capacity          1154 non-null   float64
dtypes: float64(4), int64(1), object(11)
memory usage: 149.9+ KB

In [8]:
data.columns

Index(['Price', 'Brand', 'Processor Brand', 'Processor Model', 'Generation',
       'Processor Base Frequency', 'Processor Max Frequency', 'Processor Core',
       'Processor Thread', 'CPU Cache', 'RAM', 'RAM Type', 'Storage Capacity',
       'Display Size', 'Graphics Memory', 'Battery Capacity'],
      dtype='object')

In [9]:
data['Brand'].value_counts()

Asus             273
Lenovo           180
ASUS             168
HP                95
Acer              84
MSI               71
Dell              69
Apple             54
LENOVO            39
Microsoft         23
Walton            19
ACER              17
DELL              14
Huawei            14
Avita             14
WALTON            10
GIGABYTE           7
Hp                 7
Realme             7
Gigabyte           6
AVITA              5
HUAWEI             4
DOEL               4
Toshiba            4
Dynabook           3
WIWU               2
TOSHIBA            2
Xiaomi             1
Dell Inspiron      1
Razer              1
Name: Brand, dtype: int64

In [10]:
df = data

In [11]:
df['Brand'].replace('Asus',0,inplace=True)

In [12]:
data['Brand'].value_counts()

0                273
Lenovo           180
ASUS             168
HP                95
Acer              84
MSI               71
Dell              69
Apple             54
LENOVO            39
Microsoft         23
Walton            19
ACER              17
DELL              14
Huawei            14
Avita             14
WALTON            10
GIGABYTE           7
Hp                 7
Realme             7
Gigabyte           6
AVITA              5
HUAWEI             4
DOEL               4
Toshiba            4
Dynabook           3
WIWU               2
TOSHIBA            2
Xiaomi             1
Dell Inspiron      1
Razer              1
Name: Brand, dtype: int64

In [15]:
df['Brand'].replace(0,1,inplace=True)

In [16]:
data['Brand'].value_counts()

1                273
Lenovo           180
ASUS             168
HP                95
Acer              84
MSI               71
Dell              69
Apple             54
LENOVO            39
Microsoft         23
Walton            19
ACER              17
DELL              14
Huawei            14
Avita             14
WALTON            10
GIGABYTE           7
Hp                 7
Realme             7
Gigabyte           6
AVITA              5
HUAWEI             4
DOEL               4
Toshiba            4
Dynabook           3
WIWU               2
TOSHIBA            2
Xiaomi             1
Dell Inspiron      1
Razer              1
Name: Brand, dtype: int64

In [17]:
df['Brand'].replace('Lenovo',2,inplace=True)

In [18]:
df['Brand'].replace('ASUS',1,inplace=True)

In [19]:
data['Brand'].value_counts()

1                441
2                180
HP                95
Acer              84
MSI               71
Dell              69
Apple             54
LENOVO            39
Microsoft         23
Walton            19
ACER              17
DELL              14
Huawei            14
Avita             14
WALTON            10
GIGABYTE           7
Hp                 7
Realme             7
Gigabyte           6
AVITA              5
HUAWEI             4
DOEL               4
Toshiba            4
Dynabook           3
WIWU               2
TOSHIBA            2
Xiaomi             1
Dell Inspiron      1
Razer              1
Name: Brand, dtype: int64

In [20]:
df['Brand'].replace('HP',3,inplace=True)

In [21]:
df['Brand'].replace('Acer',4,inplace=True)

In [22]:
df['Brand'].replace('MSI',5,inplace=True)

In [23]:
df['Brand'].replace('Hp',3,inplace=True)

In [24]:
data['Brand'].value_counts()

1                441
2                180
3                102
4                 84
5                 71
Dell              69
Apple             54
LENOVO            39
Microsoft         23
Walton            19
ACER              17
DELL              14
Huawei            14
Avita             14
WALTON            10
GIGABYTE           7
Realme             7
Gigabyte           6
AVITA              5
HUAWEI             4
DOEL               4
Toshiba            4
Dynabook           3
WIWU               2
TOSHIBA            2
Xiaomi             1
Dell Inspiron      1
Razer              1
Name: Brand, dtype: int64

In [25]:
df['Brand'].replace('Dell',6,inplace=True)

In [26]:
df['Brand'].replace('DELL',6,inplace=True)

In [27]:
data['Brand'].value_counts()

1                441
2                180
3                102
4                 84
6                 83
5                 71
Apple             54
LENOVO            39
Microsoft         23
Walton            19
ACER              17
Avita             14
Huawei            14
WALTON            10
Realme             7
GIGABYTE           7
Gigabyte           6
AVITA              5
HUAWEI             4
DOEL               4
Toshiba            4
Dynabook           3
WIWU               2
TOSHIBA            2
Xiaomi             1
Dell Inspiron      1
Razer              1
Name: Brand, dtype: int64

In [28]:
df['Brand'].replace('Apple',7,inplace=True)

In [29]:
df['Brand'].replace('LENOVO',2,inplace=True)

In [30]:
data['Brand'].value_counts()

1                441
2                219
3                102
4                 84
6                 83
5                 71
7                 54
Microsoft         23
Walton            19
ACER              17
Huawei            14
Avita             14
WALTON            10
Realme             7
GIGABYTE           7
Gigabyte           6
AVITA              5
HUAWEI             4
DOEL               4
Toshiba            4
Dynabook           3
WIWU               2
TOSHIBA            2
Xiaomi             1
Dell Inspiron      1
Razer              1
Name: Brand, dtype: int64

In [31]:
df['Brand'].replace('Microsoft',8,inplace=True)

In [32]:
df['Brand'].replace('Walton',9,inplace=True)

In [33]:
df['Brand'].replace('ACER',4,inplace=True)

In [34]:
data['Brand'].value_counts()

1                441
2                219
3                102
4                101
6                 83
5                 71
7                 54
8                 23
9                 19
Huawei            14
Avita             14
WALTON            10
Realme             7
GIGABYTE           7
Gigabyte           6
AVITA              5
DOEL               4
Toshiba            4
HUAWEI             4
Dynabook           3
WIWU               2
TOSHIBA            2
Xiaomi             1
Dell Inspiron      1
Razer              1
Name: Brand, dtype: int64

In [35]:
df['Brand'].replace('WALTON',9,inplace=True)

In [36]:
data['Brand'].value_counts()

1                441
2                219
3                102
4                101
6                 83
5                 71
7                 54
9                 29
8                 23
Huawei            14
Avita             14
GIGABYTE           7
Realme             7
Gigabyte           6
AVITA              5
HUAWEI             4
DOEL               4
Toshiba            4
Dynabook           3
WIWU               2
TOSHIBA            2
Xiaomi             1
Dell Inspiron      1
Razer              1
Name: Brand, dtype: int64

In [37]:
df['Brand'].replace('Huawei',10,inplace=True)

In [38]:
df['Brand'].replace('Avita',11,inplace=True)

In [39]:
df['Brand'].replace('GIGABYTE',12,inplace=True)

In [40]:
df['Brand'].replace('Realme',13,inplace=True)

In [41]:
df['Brand'].replace('Gigabyte',12,inplace=True)

In [42]:
data['Brand'].value_counts()

1                441
2                219
3                102
4                101
6                 83
5                 71
7                 54
9                 29
8                 23
11                14
10                14
12                13
13                 7
AVITA              5
DOEL               4
HUAWEI             4
Toshiba            4
Dynabook           3
WIWU               2
TOSHIBA            2
Xiaomi             1
Dell Inspiron      1
Razer              1
Name: Brand, dtype: int64

In [43]:
df['Brand'].replace('AVITA',11,inplace=True)

In [44]:
df['Brand'].replace('HUAWEI',10,inplace=True)

In [45]:
data['Brand'].value_counts()

1                441
2                219
3                102
4                101
6                 83
5                 71
7                 54
9                 29
8                 23
11                19
10                18
12                13
13                 7
DOEL               4
Toshiba            4
Dynabook           3
WIWU               2
TOSHIBA            2
Xiaomi             1
Dell Inspiron      1
Razer              1
Name: Brand, dtype: int64

In [46]:
df['Brand'].replace('DOEL',6,inplace=True)

In [47]:
df['Brand'].replace('Dell Inspiron',6,inplace=True)

In [48]:
df['Brand'].replace('Dynabook',6,inplace=True)

In [49]:
data['Brand'].value_counts()

1          441
2          219
3          102
4          101
6           91
5           71
7           54
9           29
8           23
11          19
10          18
12          13
13           7
Toshiba      4
WIWU         2
TOSHIBA      2
Xiaomi       1
Razer        1
Name: Brand, dtype: int64

In [50]:
df['Brand'].replace('Toshiba',9,inplace=True)

In [51]:
df['Brand'].replace('WIWU',9,inplace=True)

In [52]:
df['Brand'].replace('TOSHIBA',9,inplace=True)

In [53]:
data['Brand'].value_counts()

1         441
2         219
3         102
4         101
6          91
5          71
7          54
9          37
8          23
11         19
10         18
12         13
13          7
Xiaomi      1
Razer       1
Name: Brand, dtype: int64

In [54]:
df['Brand'].replace('Xiaomi',13,inplace=True)

In [55]:
df['Brand'].replace('Razer',13,inplace=True)

In [56]:
data['Brand'].value_counts()

1     441
2     219
3     102
4     101
6      91
5      71
7      54
9      37
8      23
11     19
10     18
12     13
13      9
Name: Brand, dtype: int64

In [57]:
data.columns

Index(['Price', 'Brand', 'Processor Brand', 'Processor Model', 'Generation',
       'Processor Base Frequency', 'Processor Max Frequency', 'Processor Core',
       'Processor Thread', 'CPU Cache', 'RAM', 'RAM Type', 'Storage Capacity',
       'Display Size', 'Graphics Memory', 'Battery Capacity'],
      dtype='object')

In [58]:
data['Processor Brand'].value_counts()

Intel        931
AMD          205
Apple         39
Ryzen          2
Microsoft      1
Name: Processor Brand, dtype: int64

In [59]:
df['Processor Brand'].replace('Intel',1,inplace=True)
df['Processor Brand'].replace('AMD',2,inplace=True)
df['Processor Brand'].replace('Apple',3,inplace=True)
df['Processor Brand'].replace('Ryzen',4,inplace=True)
df['Processor Brand'].replace('Microsoft',5,inplace=True)

In [60]:
data['Processor Brand'].value_counts()

1.0    931
2.0    205
3.0     39
4.0      2
5.0      1
Name: Processor Brand, dtype: int64

In [61]:
data.columns

Index(['Price', 'Brand', 'Processor Brand', 'Processor Model', 'Generation',
       'Processor Base Frequency', 'Processor Max Frequency', 'Processor Core',
       'Processor Thread', 'CPU Cache', 'RAM', 'RAM Type', 'Storage Capacity',
       'Display Size', 'Graphics Memory', 'Battery Capacity'],
      dtype='object')

In [62]:
data['Processor Model'].value_counts()

Core i5                         375
Core i7                         249
Core i3                         221
Ryzen 7                          83
Ryzen 5                          62
Ryzen 3                          29
Intel Celeron                    21
Ryzen 9                          17
Core i9                          12
Celeron N4020                    11
Apple M1                          9
M2 chip                           8
Apple M2                          7
Celeron N4500                     6
Celeron Processor N4020           5
M1 Pro                            5
Celeron 5205U                     4
M2 Pro chip                       4
Celeron N4500 Processor           4
M1 chip\n8-core                   3
Pentium 5030                      2
Ryzen™ 5                          2
Ryzen™ 7                          2
i9-12900H                         2
Pentium Silver N5030              2
Ryzen 5-5500U                     2
i7-12700H                         2
Celeron Dual                      2
Intel Core                        2
M1 chip                           2
Pentium Silver N5000              2
Ryzen™ 9                          1
5 4600H                           1
Celeron N4120                     1
Model: AMD                        1
M1 Max Pro                        1
RYZEN R5                          1
Athlon Silver                     1
7 5700U,                          1
Ryzen™ 3                          1
Intel Pentium                     1
AMD Athlon                        1
Pentium Gold Processor 4425Y      1
AMD Ryzen                         1
A9-9425                           1
 Celeron N4500                    1
Name: Processor Model, dtype: int64

In [63]:
df['Processor Model'].replace('Core i5',1,inplace=True)
df['Processor Model'].replace('Core i7',2,inplace=True)
df['Processor Model'].replace('Core i3',3,inplace=True)

In [64]:
data['Processor Model'].value_counts()

1                               375
2                               249
3                               221
Ryzen 7                          83
Ryzen 5                          62
Ryzen 3                          29
Intel Celeron                    21
Ryzen 9                          17
Core i9                          12
Celeron N4020                    11
Apple M1                          9
M2 chip                           8
Apple M2                          7
Celeron N4500                     6
Celeron Processor N4020           5
M1 Pro                            5
Celeron 5205U                     4
M2 Pro chip                       4
Celeron N4500 Processor           4
M1 chip\n8-core                   3
Pentium 5030                      2
Ryzen™ 5                          2
Ryzen™ 7                          2
i9-12900H                         2
Pentium Silver N5030              2
Ryzen 5-5500U                     2
i7-12700H                         2
Celeron Dual                      2
Intel Core                        2
M1 chip                           2
Pentium Silver N5000              2
Ryzen™ 9                          1
5 4600H                           1
Celeron N4120                     1
Model: AMD                        1
M1 Max Pro                        1
RYZEN R5                          1
Athlon Silver                     1
7 5700U,                          1
Ryzen™ 3                          1
Intel Pentium                     1
AMD Athlon                        1
Pentium Gold Processor 4425Y      1
AMD Ryzen                         1
A9-9425                           1
 Celeron N4500                    1
Name: Processor Model, dtype: int64

In [65]:
df['Processor Model'].replace('Ryzen 7',4,inplace=True)

In [66]:
df['Processor Model'].replace('Ryzen 5',5,inplace=True)
df['Processor Model'].replace('Ryzen 3',6,inplace=True)

In [67]:
data['Processor Model'].value_counts()

1                               375
2                               249
3                               221
4                                83
5                                62
6                                29
Intel Celeron                    21
Ryzen 9                          17
Core i9                          12
Celeron N4020                    11
Apple M1                          9
M2 chip                           8
Apple M2                          7
Celeron N4500                     6
Celeron Processor N4020           5
M1 Pro                            5
Celeron 5205U                     4
M2 Pro chip                       4
Celeron N4500 Processor           4
M1 chip\n8-core                   3
Pentium 5030                      2
Ryzen™ 5                          2
Ryzen™ 7                          2
i9-12900H                         2
Pentium Silver N5030              2
Ryzen 5-5500U                     2
i7-12700H                         2
Celeron Dual                      2
Intel Core                        2
M1 chip                           2
Pentium Silver N5000              2
Ryzen™ 9                          1
5 4600H                           1
Celeron N4120                     1
Model: AMD                        1
M1 Max Pro                        1
RYZEN R5                          1
Athlon Silver                     1
7 5700U,                          1
Ryzen™ 3                          1
Intel Pentium                     1
AMD Athlon                        1
Pentium Gold Processor 4425Y      1
AMD Ryzen                         1
A9-9425                           1
 Celeron N4500                    1
Name: Processor Model, dtype: int64

In [68]:
df['Processor Model'].replace('Intel Celeron',7,inplace=True)
df['Processor Model'].replace('Ryzen 9',8,inplace=True)
df['Processor Model'].replace('Core i9',9,inplace=True)

In [69]:
data['Processor Model'].value_counts()

1                               375
2                               249
3                               221
4                                83
5                                62
6                                29
7                                21
8                                17
9                                12
Celeron N4020                    11
Apple M1                          9
M2 chip                           8
Apple M2                          7
Celeron N4500                     6
Celeron Processor N4020           5
M1 Pro                            5
Celeron 5205U                     4
M2 Pro chip                       4
Celeron N4500 Processor           4
M1 chip\n8-core                   3
Pentium 5030                      2
Ryzen™ 5                          2
Ryzen™ 7                          2
i9-12900H                         2
Pentium Silver N5030              2
Ryzen 5-5500U                     2
i7-12700H                         2
Celeron Dual                      2
Intel Core                        2
M1 chip                           2
Pentium Silver N5000              2
Ryzen™ 9                          1
5 4600H                           1
Celeron N4120                     1
Model: AMD                        1
M1 Max Pro                        1
RYZEN R5                          1
Athlon Silver                     1
7 5700U,                          1
Ryzen™ 3                          1
Intel Pentium                     1
AMD Athlon                        1
Pentium Gold Processor 4425Y      1
AMD Ryzen                         1
A9-9425                           1
 Celeron N4500                    1
Name: Processor Model, dtype: int64

In [70]:
df['Processor Model'].replace('Celeron N4500',7,inplace=True)
df['Processor Model'].replace('Celeron Dual',7,inplace=True)
df['Processor Model'].replace('Celeron 5205U',7,inplace=True)

In [71]:
data['Processor Model'].value_counts()

1                               375
2                               249
3                               221
4                                83
5                                62
7                                33
6                                29
8                                17
9                                12
Celeron N4020                    11
Apple M1                          9
M2 chip                           8
Apple M2                          7
M1 Pro                            5
Celeron Processor N4020           5
M2 Pro chip                       4
Celeron N4500 Processor           4
M1 chip\n8-core                   3
i7-12700H                         2
Intel Core                        2
i9-12900H                         2
Pentium Silver N5030              2
M1 chip                           2
Ryzen™ 7                          2
Ryzen™ 5                          2
Pentium Silver N5000              2
Ryzen 5-5500U                     2
Pentium 5030                      2
Celeron N4120                     1
Ryzen™ 9                          1
5 4600H                           1
Model: AMD                        1
M1 Max Pro                        1
RYZEN R5                          1
Athlon Silver                     1
7 5700U,                          1
Ryzen™ 3                          1
Intel Pentium                     1
AMD Athlon                        1
Pentium Gold Processor 4425Y      1
AMD Ryzen                         1
A9-9425                           1
 Celeron N4500                    1
Name: Processor Model, dtype: int64

In [72]:
df['Processor Model'].replace('Celeron N4020',7,inplace=True)

In [73]:
data['Processor Model'].value_counts()

1                               375
2                               249
3                               221
4                                83
5                                62
7                                44
6                                29
8                                17
9                                12
Apple M1                          9
M2 chip                           8
Apple M2                          7
Celeron Processor N4020           5
M1 Pro                            5
Celeron N4500 Processor           4
M2 Pro chip                       4
M1 chip\n8-core                   3
Ryzen™ 7                          2
Pentium 5030                      2
Ryzen 5-5500U                     2
Pentium Silver N5000              2
Ryzen™ 5                          2
Pentium Silver N5030              2
i9-12900H                         2
i7-12700H                         2
Intel Core                        2
M1 chip                           2
Celeron N4120                     1
Ryzen™ 9                          1
5 4600H                           1
Model: AMD                        1
AMD Athlon                        1
RYZEN R5                          1
Athlon Silver                     1
7 5700U,                          1
Ryzen™ 3                          1
Intel Pentium                     1
M1 Max Pro                        1
Pentium Gold Processor 4425Y      1
AMD Ryzen                         1
A9-9425                           1
 Celeron N4500                    1
Name: Processor Model, dtype: int64

In [74]:
df['Processor Model'].replace(' Celeron N4500',7,inplace=True)

In [75]:
data['Processor Model'].value_counts()

1                               375
2                               249
3                               221
4                                83
5                                62
7                                45
6                                29
8                                17
9                                12
Apple M1                          9
M2 chip                           8
Apple M2                          7
Celeron Processor N4020           5
M1 Pro                            5
Celeron N4500 Processor           4
M2 Pro chip                       4
M1 chip\n8-core                   3
Ryzen™ 7                          2
Ryzen 5-5500U                     2
Ryzen™ 5                          2
Pentium Silver N5000              2
Pentium 5030                      2
Pentium Silver N5030              2
i9-12900H                         2
i7-12700H                         2
Intel Core                        2
M1 chip                           2
5 4600H                           1
Model: AMD                        1
Ryzen™ 9                          1
M1 Max Pro                        1
RYZEN R5                          1
Athlon Silver                     1
7 5700U,                          1
Ryzen™ 3                          1
Intel Pentium                     1
AMD Athlon                        1
Pentium Gold Processor 4425Y      1
AMD Ryzen                         1
A9-9425                           1
Celeron N4120                     1
Name: Processor Model, dtype: int64

In [76]:
df['Processor Model'].replace('Celeron Processor N4020',7,inplace=True)

In [77]:
data['Processor Model'].value_counts()

1                               375
2                               249
3                               221
4                                83
5                                62
7                                50
6                                29
8                                17
9                                12
Apple M1                          9
M2 chip                           8
Apple M2                          7
M1 Pro                            5
M2 Pro chip                       4
Celeron N4500 Processor           4
M1 chip\n8-core                   3
i7-12700H                         2
i9-12900H                         2
Ryzen™ 7                          2
Pentium Silver N5030              2
Pentium Silver N5000              2
Intel Core                        2
M1 chip                           2
Ryzen™ 5                          2
Ryzen 5-5500U                     2
Pentium 5030                      2
Ryzen™ 9                          1
5 4600H                           1
Model: AMD                        1
AMD Athlon                        1
RYZEN R5                          1
Athlon Silver                     1
7 5700U,                          1
Ryzen™ 3                          1
Intel Pentium                     1
M1 Max Pro                        1
Pentium Gold Processor 4425Y      1
AMD Ryzen                         1
A9-9425                           1
Celeron N4120                     1
Name: Processor Model, dtype: int64

In [78]:
df['Processor Model'].replace('Celeron N4120',7,inplace=True)

In [79]:
df['Processor Model'].replace('Celeron N4500 Processor',7,inplace=True)

In [80]:
data['Processor Model'].value_counts()

1                               375
2                               249
3                               221
4                                83
5                                62
7                                55
6                                29
8                                17
9                                12
Apple M1                          9
M2 chip                           8
Apple M2                          7
M1 Pro                            5
M2 Pro chip                       4
M1 chip\n8-core                   3
Pentium 5030                      2
Ryzen™ 5                          2
Pentium Silver N5000              2
Ryzen™ 7                          2
Ryzen 5-5500U                     2
Pentium Silver N5030              2
Intel Core                        2
M1 chip                           2
i9-12900H                         2
i7-12700H                         2
Ryzen™ 9                          1
A9-9425                           1
AMD Ryzen                         1
Pentium Gold Processor 4425Y      1
5 4600H                           1
Intel Pentium                     1
Model: AMD                        1
M1 Max Pro                        1
RYZEN R5                          1
Athlon Silver                     1
7 5700U,                          1
Ryzen™ 3                          1
AMD Athlon                        1
Name: Processor Model, dtype: int64

In [81]:
df['Processor Model'].replace('Intel Core',7,inplace=True)

In [82]:
data['Processor Model'].value_counts()

1                               375
2                               249
3                               221
4                                83
5                                62
7                                57
6                                29
8                                17
9                                12
Apple M1                          9
M2 chip                           8
Apple M2                          7
M1 Pro                            5
M2 Pro chip                       4
M1 chip\n8-core                   3
Pentium Silver N5000              2
Pentium 5030                      2
Ryzen™ 7                          2
Ryzen™ 5                          2
Ryzen 5-5500U                     2
Pentium Silver N5030              2
i9-12900H                         2
i7-12700H                         2
M1 chip                           2
Intel Pentium                     1
M1 Max Pro                        1
Ryzen™ 3                          1
7 5700U,                          1
Athlon Silver                     1
RYZEN R5                          1
Model: AMD                        1
5 4600H                           1
Pentium Gold Processor 4425Y      1
AMD Ryzen                         1
A9-9425                           1
Ryzen™ 9                          1
AMD Athlon                        1
Name: Processor Model, dtype: int64

In [83]:
df['Processor Model'].replace('Pentium Gold Processor 4425Y',7,inplace=True)

In [84]:
df['Processor Model'].replace('Pentium Silver N5030',7,inplace=True)

In [85]:
df['Processor Model'].replace('Pentium 5030',7,inplace=True)

In [86]:
data['Processor Model'].value_counts()

1                       375
2                       249
3                       221
4                        83
7                        62
5                        62
6                        29
8                        17
9                        12
Apple M1                  9
M2 chip                   8
Apple M2                  7
M1 Pro                    5
M2 Pro chip               4
M1 chip\n8-core           3
i9-12900H                 2
Pentium Silver N5000      2
M1 chip                   2
Ryzen™ 7                  2
Ryzen™ 5                  2
Ryzen 5-5500U             2
i7-12700H                 2
RYZEN R5                  1
5 4600H                   1
Model: AMD                1
AMD Athlon                1
Athlon Silver             1
7 5700U,                  1
Ryzen™ 3                  1
Intel Pentium             1
M1 Max Pro                1
AMD Ryzen                 1
A9-9425                   1
Ryzen™ 9                  1
Name: Processor Model, dtype: int64

In [87]:
df['Processor Model'].replace('Pentium Silver N5000',7,inplace=True)

In [88]:
data['Processor Model'].value_counts()

1                  375
2                  249
3                  221
4                   83
7                   64
5                   62
6                   29
8                   17
9                   12
Apple M1             9
M2 chip              8
Apple M2             7
M1 Pro               5
M2 Pro chip          4
M1 chip\n8-core      3
i9-12900H            2
M1 chip              2
Ryzen 5-5500U        2
Ryzen™ 7             2
Ryzen™ 5             2
i7-12700H            2
RYZEN R5             1
5 4600H              1
Model: AMD           1
M1 Max Pro           1
Athlon Silver        1
7 5700U,             1
Ryzen™ 3             1
Intel Pentium        1
AMD Athlon           1
AMD Ryzen            1
A9-9425              1
Ryzen™ 9             1
Name: Processor Model, dtype: int64

In [89]:
df['Processor Model'].replace('Intel Pentium',7,inplace=True)

In [90]:
data['Processor Model'].value_counts()

1                  375
2                  249
3                  221
4                   83
7                   65
5                   62
6                   29
8                   17
9                   12
Apple M1             9
M2 chip              8
Apple M2             7
M1 Pro               5
M2 Pro chip          4
M1 chip\n8-core      3
i9-12900H            2
M1 chip              2
Ryzen™ 7             2
Ryzen™ 5             2
Ryzen 5-5500U        2
i7-12700H            2
RYZEN R5             1
5 4600H              1
Model: AMD           1
M1 Max Pro           1
Athlon Silver        1
7 5700U,             1
Ryzen™ 3             1
AMD Athlon           1
AMD Ryzen            1
A9-9425              1
Ryzen™ 9             1
Name: Processor Model, dtype: int64

In [94]:
df['Processor Model'].replace('7 5700U,',2,inplace=True)

In [95]:
data['Processor Model'].value_counts()

1                  375
2                  252
3                  221
4                   83
7                   65
5                   62
6                   29
8                   17
9                   12
Apple M1             9
M2 chip              8
Apple M2             7
M1 Pro               5
M2 Pro chip          4
M1 chip\n8-core      3
Ryzen™ 7             2
M1 chip              2
i9-12900H            2
Ryzen™ 5             2
Ryzen 5-5500U        2
5 4600H              1
Model: AMD           1
M1 Max Pro           1
RYZEN R5             1
Athlon Silver        1
Ryzen™ 3             1
AMD Athlon           1
AMD Ryzen            1
A9-9425              1
Ryzen™ 9             1
Name: Processor Model, dtype: int64

In [96]:
df['Processor Model'].replace('5 4600H',1,inplace=True)

In [97]:
df['Processor Model'].replace('i9-12900H',9,inplace=True)

In [98]:
data['Processor Model'].value_counts()

1                  376
2                  252
3                  221
4                   83
7                   65
5                   62
6                   29
8                   17
9                   14
Apple M1             9
M2 chip              8
Apple M2             7
M1 Pro               5
M2 Pro chip          4
M1 chip\n8-core      3
M1 chip              2
Ryzen™ 7             2
Ryzen 5-5500U        2
Ryzen™ 5             2
RYZEN R5             1
Model: AMD           1
M1 Max Pro           1
Athlon Silver        1
Ryzen™ 3             1
AMD Athlon           1
AMD Ryzen            1
A9-9425              1
Ryzen™ 9             1
Name: Processor Model, dtype: int64

In [99]:
df['Processor Model'].replace('Apple M1',10,inplace=True)

In [100]:
data['Processor Model'].value_counts()

1                  376
2                  252
3                  221
4                   83
7                   65
5                   62
6                   29
8                   17
9                   14
10                   9
M2 chip              8
Apple M2             7
M1 Pro               5
M2 Pro chip          4
M1 chip\n8-core      3
M1 chip              2
Ryzen™ 7             2
Ryzen 5-5500U        2
Ryzen™ 5             2
RYZEN R5             1
Model: AMD           1
M1 Max Pro           1
Athlon Silver        1
Ryzen™ 3             1
AMD Athlon           1
AMD Ryzen            1
A9-9425              1
Ryzen™ 9             1
Name: Processor Model, dtype: int64

In [105]:
df['Processor Model'].replace('M2 Pro chip',10,inplace=True)

In [106]:
data['Processor Model'].value_counts()

1                  376
2                  252
3                  221
4                   83
7                   65
5                   62
10                  35
6                   29
8                   17
9                   14
M1 chip\n8-core      3
Ryzen™ 5             2
Ryzen 5-5500U        2
Ryzen™ 7             2
AMD Ryzen            1
A9-9425              1
M1 Max Pro           1
AMD Athlon           1
Ryzen™ 3             1
Athlon Silver        1
RYZEN R5             1
Model: AMD           1
Ryzen™ 9             1
Name: Processor Model, dtype: int64

In [107]:
df['Processor Model'].replace('M1 chip\n8-core',10,inplace=True)

In [108]:
df['Processor Model'].replace('M1 Max Pro',10,inplace=True)

In [109]:
data['Processor Model'].value_counts()

1                376
2                252
3                221
4                 83
7                 65
5                 62
10                39
6                 29
8                 17
9                 14
Ryzen™ 5           2
Ryzen 5-5500U      2
Ryzen™ 7           2
AMD Ryzen          1
A9-9425            1
AMD Athlon         1
Ryzen™ 3           1
Athlon Silver      1
RYZEN R5           1
Model: AMD         1
Ryzen™ 9           1
Name: Processor Model, dtype: int64

In [111]:
df['Processor Model'].replace('Athlon Silver',10,inplace=True)

In [112]:
data['Processor Model'].value_counts()

1                376
2                252
3                221
4                 83
7                 65
5                 62
10                41
6                 29
8                 17
9                 14
Ryzen™ 5           2
Ryzen 5-5500U      2
Ryzen™ 7           2
AMD Ryzen          1
AMD Athlon         1
Ryzen™ 3           1
RYZEN R5           1
Model: AMD         1
Ryzen™ 9           1
Name: Processor Model, dtype: int64

In [115]:
df['Processor Model'].replace('RYZEN R5',5,inplace=True)

In [116]:
data['Processor Model'].value_counts()

1             376
2             252
3             221
4              83
5              67
7              65
10             41
6              29
8              17
9              14
Ryzen™ 7        2
AMD Ryzen       1
AMD Athlon      1
Ryzen™ 3        1
Model: AMD      1
Ryzen™ 9        1
Name: Processor Model, dtype: int64

In [117]:
df['Processor Model'].replace('Ryzen™ 7',4,inplace=True)

In [118]:
data['Processor Model'].value_counts()

1             376
2             252
3             221
4              85
5              67
7              65
10             41
6              29
8              17
9              14
AMD Ryzen       1
AMD Athlon      1
Ryzen™ 3        1
Model: AMD      1
Ryzen™ 9        1
Name: Processor Model, dtype: int64

In [123]:
df['Processor Model'].replace('Ryzen™ 9',11,inplace=True)

In [124]:
data['Processor Model'].value_counts()

1.0     376
2.0     252
3.0     221
4.0      85
5.0      67
7.0      65
10.0     41
6.0      29
8.0      17
9.0      14
11.0      5
Name: Processor Model, dtype: int64

In [125]:
df.columns

Index(['Price', 'Brand', 'Processor Brand', 'Processor Model', 'Generation',
       'Processor Base Frequency', 'Processor Max Frequency', 'Processor Core',
       'Processor Thread', 'CPU Cache', 'RAM', 'RAM Type', 'Storage Capacity',
       'Display Size', 'Graphics Memory', 'Battery Capacity'],
      dtype='object')

In [126]:
data['Generation'].value_counts()

11th Gen                 523
12th Gen                 231
Not Applicable            88
10th Gen                  78
5th Gen                   76
6th Gen                   22
4th Gen                   21
9th Gen                   20
13th Gen                  19
3th Gen                   19
7th Gen                   14
Cth Gen                    8
11th                       4
8th Gen                    4
12th                       2
3.2 GHz up to 4.4 GHz      1
1th Gen                    1
Rth Gen                    1
\nth Gen                   1
Name: Generation, dtype: int64

In [127]:
df['Generation'].replace('11th Gen',11,inplace=True)

In [129]:
df['Generation'].replace('Not Applicable',12,inplace=True)

In [130]:
df['Generation'].replace('10th Gen',10,inplace=True)

In [131]:
data['Generation'].value_counts()

11                       523
12                       319
10                        78
5th Gen                   76
6th Gen                   22
4th Gen                   21
9th Gen                   20
13th Gen                  19
3th Gen                   19
7th Gen                   14
Cth Gen                    8
11th                       4
8th Gen                    4
12th                       2
3.2 GHz up to 4.4 GHz      1
1th Gen                    1
Rth Gen                    1
\nth Gen                   1
Name: Generation, dtype: int64

In [132]:
df['Generation'].replace('11th',11,inplace=True)

In [133]:
data['Generation'].value_counts()

11                       527
12                       319
10                        78
5th Gen                   76
6th Gen                   22
4th Gen                   21
9th Gen                   20
13th Gen                  19
3th Gen                   19
7th Gen                   14
Cth Gen                    8
8th Gen                    4
12th                       2
3.2 GHz up to 4.4 GHz      1
1th Gen                    1
Rth Gen                    1
\nth Gen                   1
Name: Generation, dtype: int64

In [135]:
df['Generation'].replace('5th Gen',5,inplace=True)

In [136]:
df['Generation'].replace('6th Gen',6,inplace=True)

In [137]:
data['Generation'].value_counts()

11                       527
12                       319
10                        78
5                         76
6                         22
4th Gen                   21
9th Gen                   20
13th Gen                  19
3th Gen                   19
7th Gen                   14
Cth Gen                    8
8th Gen                    4
12th                       2
3.2 GHz up to 4.4 GHz      1
1th Gen                    1
Rth Gen                    1
\nth Gen                   1
Name: Generation, dtype: int64

In [146]:
df['Generation'].replace('\nth Gen',11,inplace=True)

In [147]:
data['Generation'].value_counts()

11                       529
12                       319
10                        78
5                         76
6                         22
4                         21
9                         20
3                         19
13                        19
7                         14
Cth Gen                    8
8th Gen                    4
12th                       2
3.2 GHz up to 4.4 GHz      1
1th Gen                    1
Name: Generation, dtype: int64

In [148]:
data['Generation'].value_counts()

11                       529
12                       319
10                        78
5                         76
6                         22
4                         21
9                         20
3                         19
13                        19
7                         14
Cth Gen                    8
8th Gen                    4
12th                       2
3.2 GHz up to 4.4 GHz      1
1th Gen                    1
Name: Generation, dtype: int64

In [150]:
df['Generation'].replace(1,11,inplace=True)

In [151]:
data['Generation'].value_counts()

11                       530
12                       319
10                        78
5                         76
6                         22
4                         21
9                         20
3                         19
13                        19
7                         14
Cth Gen                    8
8th Gen                    4
12th                       2
3.2 GHz up to 4.4 GHz      1
Name: Generation, dtype: int64

In [153]:
df['Generation'].replace('Cth Gen',11,inplace=True)

In [158]:
data['Generation'].value_counts()

11.0    539
12.0    321
10.0     78
5.0      76
6.0      22
4.0      21
9.0      20
3.0      19
13.0     19
7.0      14
8.0       4
Name: Generation, dtype: int64

In [159]:
df['Generation'].replace('8th Gen',8,inplace=True)

In [160]:
df.columns

Index(['Price', 'Brand', 'Processor Brand', 'Processor Model', 'Generation',
       'Processor Base Frequency', 'Processor Max Frequency', 'Processor Core',
       'Processor Thread', 'CPU Cache', 'RAM', 'RAM Type', 'Storage Capacity',
       'Display Size', 'Graphics Memory', 'Battery Capacity'],
      dtype='object')

In [242]:
data['RAM'].value_counts()

8.0      639
16.0     296
4.0      205
32.0      31
64.0       9
512.0      1
Name: RAM, dtype: int64

In [241]:
df['RAM'].replace('32GB  ',32,inplace=True)

In [259]:
data['RAM Type'].value_counts()

1.0    928
2.0    114
3.0     50
4.0     42
5.0     26
6.0      5
Name: RAM Type, dtype: int64

In [245]:
df['RAM Type'].replace('DDr4',1,inplace=True)

In [247]:
df['RAM Type'].replace('DDR5',2,inplace=True)

In [249]:
df['RAM Type'].replace('LPDDR4',3,inplace=True)

In [254]:
df['RAM Type'].replace('LPDDR4X',4,inplace=True)

In [257]:
df['RAM Type'].replace('LPDDR5X',6,inplace=True)

In [258]:
df['RAM Type'].replace('LDDR3',6,inplace=True)

In [349]:
data['Storage Capacity'].value_counts()

512.0     661
1024.0    293
256.0     128
1.0        51
128.0       9
2.0         9
2048.0      8
16.0        7
4096.0      2
64.0        1
Name: Storage Capacity, dtype: int64

In [348]:
df['Storage Capacity'].replace('500GB SSD',512,inplace=True)

In [350]:
df.columns

Index(['Price', 'Brand', 'Processor Brand', 'Processor Model', 'Generation',
       'Processor Base Frequency', 'Processor Max Frequency', 'Processor Core',
       'Processor Thread', 'CPU Cache', 'RAM', 'RAM Type', 'Storage Capacity',
       'Display Size', 'Graphics Memory', 'Battery Capacity'],
      dtype='object')

In [364]:
data['Graphics Memory'].value_counts()

1             832
4             141
2              76
6              65
8              25
Integrated     10
16              7
Name: Graphics Memory, dtype: int64

In [355]:
df['Graphics Memory'].replace('Shared',1,inplace=True)

In [365]:
df['Graphics Memory'].replace('Integrated',2,inplace=True)

In [368]:
df.shape

(1198, 16)

In [367]:
data['Generation'].value_counts()

11.0    539
12.0    321
10.0     78
5.0      76
6.0      22
4.0      21
9.0      20
3.0      19
13.0     19
7.0      14
8.0       4
Name: Generation, dtype: int64

In [369]:
print(df.isnull().sum())

Price                        0
Brand                        0
Processor Brand             20
Processor Model             26
Generation                  65
Processor Base Frequency    24
Processor Max Frequency     24
Processor Core              33
Processor Thread            20
CPU Cache                    1
RAM                         17
RAM Type                    33
Storage Capacity            29
Display Size                22
Graphics Memory             42
Battery Capacity            44
dtype: int64

In [370]:
# Define a function to generate random values
def fill_null_with_random(col):
    null_count = col.isnull().sum()
    col_random = col.dropna().sample(null_count, replace=True).tolist()
    col[col.isnull()] = col_random

# Apply the function to each column
df.apply(fill_null_with_random)

Price                       None
Brand                       None
Processor Brand             None
Processor Model             None
Generation                  None
Processor Base Frequency    None
Processor Max Frequency     None
Processor Core              None
Processor Thread            None
CPU Cache                   None
RAM                         None
RAM Type                    None
Storage Capacity            None
Display Size                None
Graphics Memory             None
Battery Capacity            None
dtype: object

In [371]:
print(df.isnull().sum())

Price                       0
Brand                       0
Processor Brand             0
Processor Model             0
Generation                  0
Processor Base Frequency    0
Processor Max Frequency     0
Processor Core              0
Processor Thread            0
CPU Cache                   0
RAM                         0
RAM Type                    0
Storage Capacity            0
Display Size                0
Graphics Memory             0
Battery Capacity            0
dtype: int64

In [372]:
df['Generation'].value_counts()

11.0    569
12.0    340
5.0      83
10.0     80
4.0      24
6.0      22
9.0      21
3.0      20
13.0     19
7.0      15
8.0       5
Name: Generation, dtype: int64

In [373]:
df.to_csv('/content/drive/MyDrive/pre_proccessed.csv', index=False)

In [377]:
dataset = df
X = dataset.drop('Price', axis=1)  # Features (all columns except the target variable)
y = dataset['Price']  # Target variable (price)

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [379]:
# Create a linear regression model
model = LinearRegression()

In [382]:
print(dataset['RAM'].unique())

[  8.   4.  16.  32.  64. 512.]

In [383]:
dataset['RAM'].value_counts()

8.0      649
16.0     301
4.0      207
32.0      31
64.0       9
512.0      1
Name: RAM, dtype: int64

In [384]:
dataset.head()

,Price,Brand,Processor Brand,Processor Model,Generation,Processor Base Frequency,Processor Max Frequency,Processor Core,Processor Thread,CPU Cache,RAM,RAM Type,Storage Capacity,Display Size,Graphics Memory,Battery Capacity
0,70400.0,4.0,1.0,1.0,11.0,2.4,4.2,4.0,8,8.0,8.0,1.0,1024.0,14,1.0,48.0
1,129800.0,5.0,1.0,2.0,11.0,2.3,4.6,8.0,16,24.0,8.0,1.0,1024.0,15.6,4.0,51.0
2,29950.0,11.0,1.0,7.0,12.0,1.1,2.8,2.0,2,4.0,4.0,3.0,256.0,14,1.0,10.0
3,32010.0,9.0,1.0,7.0,10.0,1.9,1.9,2.0,2,2.0,4.0,1.0,128.0,14,1.0,45.0
4,32999.0,6.0,2.0,10.0,11.0,3.1,3.7,2.0,2,1.0,4.0,1.0,256.0,14.1,1.0,10.0

In [389]:
X = dataset.drop('Price', axis=1) 
 # Features (all columns except the target variable)
X = dataset.drop('RAM', axis=1) 
y = dataset['Price']

In [390]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [395]:
import pandas as pd

# Assuming you have a DataFrame named 'df'

incorrect_value = '2,8'

# Iterate over each column
for column in df.columns:
    # Check if the incorrect value is present in the column
    if df[column].astype(str).str.contains(incorrect_value).any():
        print(f"Incorrect value '{incorrect_value}' found in column: {column}")

Incorrect value '2,8' found in column: Processor Base Frequency

In [396]:
dataset['Processor Base Frequency'].value_counts()

2.4    301
3      157
2.8    107
2.3     78
3.3     75
1.1     62
2.1     56
2.6     49
3.2     49
2.9     27
1.2     23
2       23
1.8     22
2.5     22
3.1     17
1.3     16
1.6     16
3.5     16
2.7     16
1.7     13
3.6     11
1.9      9
1        9
3.4      7
4.4      6
2.2      5
4.1      3
20M      1
4        1
2,8      1
Name: Processor Base Frequency, dtype: int64

In [397]:
df['Processor Base Frequency'].replace('2,8',2.8,inplace=True)

In [398]:
dataset['Processor Base Frequency'].value_counts()

2.4    301
3      157
2.8    107
2.3     78
3.3     75
1.1     62
2.1     56
2.6     49
3.2     49
2.9     27
1.2     23
2       23
1.8     22
2.5     22
3.1     17
1.3     16
1.6     16
3.5     16
2.7     16
1.7     13
3.6     11
1.9      9
1        9
3.4      7
4.4      6
2.2      5
4.1      3
20M      1
4        1
2.8      1
Name: Processor Base Frequency, dtype: int64

In [399]:
df.to_csv('/content/drive/MyDrive/Dataset.csv', index=False)

In [400]:


# Select features and target variable
X = dataset.drop('Price', axis=1)  # Features (all columns except the target variable)
y = dataset['Price']  # Target variable (price)

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [410]:
import pandas as pd

# Assuming you have a DataFrame named 'df'

incorrect_value = ''

# Iterate over each column
for column in df.columns:
    # Check if the incorrect value is present in the column
    if df[column].astype(str).str.contains(incorrect_value).any():
        print(f"Incorrect value '{incorrect_value}' found in column: {column}")

In [405]:
dataset['Display Size'].value_counts()

15.6    609
14      376
16       67
13.3     42
17.3     20
13.6     13
14.2     12
14.5      7
13.5      7
13.4      6
13        6
16.2      6
15        4
16.1      4
14.4      3
11.6      3
10.1      3
10.5      2
17        2
14.1      1
1         1
18.4      1
13,4      1
10        1
12.3      1
Name: Display Size, dtype: int64

In [404]:
df['Display Size'].replace(' ',1,inplace=True)

In [424]:
import pandas as pd

# Assuming you have a DataFrame named 'df'

incorrect_value = '13,4'

# Iterate over each column
for column in df.columns:
    # Check if the incorrect value is present in the column
    if df[column].astype(str).str.contains(incorrect_value).any():
        print(f"Incorrect value '{incorrect_value}' found in column: {column}")

In [425]:
df['Display Size'].value_counts()

15.6    609
14      376
16       67
13.3     42
17.3     20
13.6     13
14.2     12
14.5      7
13.5      7
13.4      6
13        6
16.2      6
15        4
16.1      4
14.4      3
11.6      3
10.1      3
10.5      2
17        2
14.1      1
1         1
18.4      1
13        1
10        1
12.3      1
Name: Display Size, dtype: int64

In [428]:
import pandas as pd

# Assuming you have a DataFrame named 'df'

incorrect_value = '20M'

# Iterate over each column
for column in df.columns:
    # Check if the incorrect value is present in the column
    if df[column].astype(str).str.contains(incorrect_value).any():
        print(f"Incorrect value '{incorrect_value}' found in column: {column}")

Incorrect value '20M' found in column: Processor Base Frequency

In [429]:
df['Processor Base Frequency'].replace('20M',20,inplace=True)

In [430]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# Assuming you have a DataFrame named 'df' and the target column is 'target_column'

# Remove rows with empty or whitespace strings
df_cleaned = df.replace(r'^\s*$', float('nan'), regex=True).dropna()

# Split the dataset into features (X) and target (y)
X = df_cleaned.drop('Price', axis=1)
y = df_cleaned['Price']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train your model
model = LinearRegression()
model.fit(X_train, y_train)

# Evaluate the model
score = model.score(X_test, y_test)
print("Model score:", score)

Model score: 0.6230223279092487

In [431]:
df.to_csv('/content/drive/MyDrive/CSE445.csv', index=False)