**Importing All the neccesary Libraries**

In [1]:
import math #mathematical computation
import pandas as pd #dataframe
# pd.set_option('max_rows', 10000)
# pd.set_option('max_colwidth', 400)
# pd.describe_option('max_colwidth')
import numpy as np #mathematical computations
import matplotlib.pyplot as plt #visualization
import matplotlib
import joblib #saving the model
import seaborn as sns #visualization
import json #exporting columns
import pickle #saving the model
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, OrdinalEncoder, MinMaxScaler

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier, export_graphviz #Decision Tree Classifier
from sklearn.metrics import accuracy_score, confusion_matrix, r2_score #Performance metrics

from sklearn.linear_model import LinearRegression #Linear Regression
from sklearn.linear_model import Lasso #Lasso Regression
from sklearn.tree import DecisionTreeRegressor #Decision Tree Regression
from sklearn.ensemble import RandomForestRegressor #Random Forest Regression
from xgboost import XGBRegressor # XGBoost Regression
from sklearn.model_selection import train_test_split #Splitting the dataset into training and testing
from sklearn.model_selection import ShuffleSplit #Random shuffling
from sklearn.model_selection import cross_val_score #Score cross validation
from sklearn.model_selection import cross_validate #Score cross validation
from sklearn.model_selection import GridSearchCV #Hyper parameter tuning

from statistics import stdev
from warnings import simplefilter #Filtering warnings

import warnings
warnings.filterwarnings('ignore')

##showing all columns in output##

#################################

Connecting Google Collab with Drive

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**Importing Dataset**

In [4]:
dataframe = pd.read_csv('/content/laptopPrice.csv')

In [5]:
#Showing The First 5 rows of the Dataset

dataframe.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,ASUS,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,ASUS,Intel,Core i5,10th,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,ASUS,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0

In [6]:
dataframe.info

<bound method DataFrame.info of       brand processor_brand processor_name processor_gnrtn ram_gb ram_type  \
0      ASUS           Intel        Core i3            10th   4 GB     DDR4
1    Lenovo           Intel        Core i3            10th   4 GB     DDR4
2    Lenovo           Intel        Core i3            10th   4 GB     DDR4
3      ASUS           Intel        Core i5            10th   8 GB     DDR4
4      ASUS           Intel   Celeron Dual   Not Available   4 GB     DDR4
..      ...             ...            ...             ...    ...      ...
818    ASUS             AMD        Ryzen 9   Not Available   4 GB     DDR4
819    ASUS             AMD        Ryzen 9   Not Available   4 GB     DDR4
820    ASUS             AMD        Ryzen 9   Not Available   4 GB     DDR4
821    ASUS             AMD        Ryzen 9   Not Available   4 GB     DDR4
822  Lenovo             AMD        Ryzen 5            10th   8 GB     DDR4

         ssd      hdd       os  os_bit graphic_card_gb      weight  \
0       0 GB  1024 GB  Windows  64-bit            0 GB      Casual
1       0 GB  1024 GB  Windows  64-bit            0 GB      Casual
2       0 GB  1024 GB  Windows  64-bit            0 GB      Casual
3     512 GB     0 GB  Windows  32-bit            2 GB      Casual
4       0 GB   512 GB  Windows  64-bit            0 GB      Casual
..       ...      ...      ...     ...             ...         ...
818  1024 GB     0 GB  Windows  64-bit            0 GB      Casual
819  1024 GB     0 GB  Windows  64-bit            0 GB      Casual
820  1024 GB     0 GB  Windows  64-bit            4 GB      Casual
821  1024 GB     0 GB  Windows  64-bit            4 GB      Casual
822   512 GB     0 GB      DOS  64-bit            0 GB  ThinNlight

        warranty Touchscreen msoffice   Price   rating  Number of Ratings  \
0    No warranty          No       No   34649  2 stars                  3
1    No warranty          No       No   38999  3 stars                 65
2    No warranty          No       No   39999  3 stars                  8
3    No warranty          No       No   69990  3 stars                  0
4    No warranty          No       No   26990  3 stars                  0
..           ...         ...      ...     ...      ...                ...
818       1 year          No       No  135990  3 stars                  0
819       1 year          No       No  144990  3 stars                  0
820       1 year          No       No  149990  3 stars                  0
821       1 year          No       No  142990  3 stars                  0
822  No warranty          No       No   57490  4 stars                 18

     Number of Reviews
0                    0
1                    5
2                    1
3                    0
4                    0
..                 ...
818                  0
819                  0
820                  0
821                  0
822                  4

[823 rows x 19 columns]>

In [7]:
#Showing columns of dataset
dataframe.columns

Index(['brand', 'processor_brand', 'processor_name', 'processor_gnrtn',
       'ram_gb', 'ram_type', 'ssd', 'hdd', 'os', 'os_bit', 'graphic_card_gb',
       'weight', 'warranty', 'Touchscreen', 'msoffice', 'Price', 'rating',
       'Number of Ratings', 'Number of Reviews'],
      dtype='object')

In [8]:
#now we want to see how many records and columns we have in our datset
dataframe.shape

(823, 19)

In [9]:
dataframe.dtypes

brand                object
processor_brand      object
processor_name       object
processor_gnrtn      object
ram_gb               object
ram_type             object
ssd                  object
hdd                  object
os                   object
os_bit               object
graphic_card_gb      object
weight               object
warranty             object
Touchscreen          object
msoffice             object
Price                 int64
rating               object
Number of Ratings     int64
Number of Reviews     int64
dtype: object

In [14]:
dataframe.dtypes

brand                object
processor_brand      object
processor_name       object
processor_gnrtn      object
ram_gb               object
ram_type             object
ssd                  object
hdd                  object
os                   object
os_bit               object
graphic_card_gb      object
weight               object
warranty             object
Touchscreen          object
msoffice             object
Price                 int64
rating               object
Number of Ratings     int64
Number of Reviews     int64
dtype: object

In [15]:
#As we are seeing that most of the features of our datasets are object types.In a Machine learning project our model cannot worked with object type 
#variable so we have to convert this into numerical attribute so, we will start data preproccesing now.

**Data Preprocessing**

In [17]:
#We will start data preproceesing by a make a copy of our orginal dataset as we dont want to change our orginal dataset
#df contains the orginal dataset now and now we will use this for data preprocessing
df = dataframe.copy()

In [18]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,ASUS,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,ASUS,Intel,Core i5,10th,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,ASUS,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0

In [19]:
#For converting the object of a particular feature we have to know how many unique values are there

#to do that : df['column name'].value_counts()

#Now we want to know how many unique laptop brands are present in our dataset

df['brand'].value_counts()

ASUS      249
DELL      151
Lenovo    144
HP        136
acer       51
MSI        50
APPLE      28
Avita      14
Name: brand, dtype: int64

In [20]:
#Now we will replace this into a numerical value , Example suppose we will give 0 value to Asus.

df['brand'].replace('ASUS',0,inplace=True)
df['brand'].replace('DELL',1,inplace=True)
df['brand'].replace('Lenovo',2,inplace=True)
df['brand'].replace('HP',3,inplace=True)
df['brand'].replace('acer',4,inplace=True)
df['brand'].replace('MSI',5,inplace=True)
df['brand'].replace('APPLE',6,inplace=True)
df['brand'].replace('Avita',7,inplace=True)

# Preprocessing of the brand is done

In [21]:
#now we will see is this work is done by looking at the dataset
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,0,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,2,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,2,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,0,Intel,Core i5,10th,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,0,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0

In [22]:
#Now we will convert all the attribute like this
df['processor_brand'].value_counts()

Intel    610
AMD      189
M1        24
Name: processor_brand, dtype: int64

In [23]:
df['processor_brand'].replace('Intel',0,inplace=True)
df['processor_brand'].replace('AMD',1,inplace=True)
df['processor_brand'].replace('M1',2,inplace=True)

In [24]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,0,0,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,2,0,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,2,0,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,0,0,Core i5,10th,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,0,0,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0

In [25]:
df['processor_name'].value_counts()

Core i5         290
Core i3         164
Core i7         110
Ryzen 5          82
Ryzen 7          56
Ryzen 3          26
Ryzen 9          26
Celeron Dual     24
M1               24
Pentium Quad     13
Core i9           8
Name: processor_name, dtype: int64

In [26]:
df['processor_name'].replace('Core i5',0,inplace=True)
df['processor_name'].replace('Core i3',1,inplace=True)
df['processor_name'].replace('Core i7',2,inplace=True)
df['processor_name'].replace('Ryzen 5',3,inplace=True)
df['processor_name'].replace('Ryzen 7',4,inplace=True)
df['processor_name'].replace('Ryzen 3',5,inplace=True)
df['processor_name'].replace('Ryzen 9',6,inplace=True)
df['processor_name'].replace('Celeron Dual',7,inplace=True)
df['processor_name'].replace('M1',8,inplace=True)
df['processor_name'].replace('Pentium Quad',9,inplace=True)
df['processor_name'].replace('Core i9',10,inplace=True)

In [27]:
df['processor_gnrtn'].value_counts()

11th             334
Not Available    225
10th             204
8th               41
7th                9
9th                6
12th               3
4th                1
Name: processor_gnrtn, dtype: int64

In [28]:
df['processor_gnrtn'].replace('Not Available',0,inplace=True)
df['processor_gnrtn'].replace('4th',1,inplace=True)
df['processor_gnrtn'].replace('7th',2,inplace=True)
df['processor_gnrtn'].replace('8th',3,inplace=True)
df['processor_gnrtn'].replace('9th',4,inplace=True)
df['processor_gnrtn'].replace('10th',5,inplace=True)
df['processor_gnrtn'].replace('11th',6,inplace=True)
df['processor_gnrtn'].replace('12th',7,inplace=True)

In [29]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,0,0,1,5,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,2,0,1,5,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,2,0,1,5,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,0,0,0,5,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,0,0,7,0,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0

In [30]:
df['ram_gb'].value_counts()

8 GB     418
4 GB     226
16 GB    177
32 GB      2
Name: ram_gb, dtype: int64

In [31]:
df['ram_gb'].replace('8 GB',8,inplace=True)
df['ram_gb'].replace('4 GB',4,inplace=True)
df['ram_gb'].replace('16 GB',16,inplace=True)
df['ram_gb'].replace('32 GB',32,inplace=True)

In [32]:
df['ram_gb'].value_counts()

8     418
4     226
16    177
32      2
Name: ram_gb, dtype: int64

In [33]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,0,0,1,5,4,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,2,0,1,5,4,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,2,0,1,5,4,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,0,0,0,5,8,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,0,0,7,0,4,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0

In [34]:
df['ram_type'].value_counts()

DDR4       709
LPDDR4X     58
LPDDR4      27
LPDDR3      14
DDR5         8
DDR3         7
Name: ram_type, dtype: int64

In [35]:
df['ram_type'].replace('DDR4',0,inplace=True)
df['ram_type'].replace('LPDDR4X',1,inplace=True)
df['ram_type'].replace('LPDDR4',2,inplace=True)
df['ram_type'].replace('LPDDR3',3,inplace=True)
df['ram_type'].replace('DDR5',4,inplace=True)
df['ram_type'].replace('DDR3',5,inplace=True)

In [36]:
df['ssd'].value_counts()

512 GB     398
256 GB     184
0 GB       124
1024 GB    111
128 GB       3
2048 GB      2
3072 GB      1
Name: ssd, dtype: int64

In [37]:
df['ssd'].replace('512 GB',512,inplace=True)
df['ssd'].replace('256 GB',256,inplace=True)
df['ssd'].replace('0 GB',0,inplace=True)
df['ssd'].replace('1024 GB',1024,inplace=True)
df['ssd'].replace('128 GB',1028,inplace=True)
df['ssd'].replace('2048 GB',2048,inplace=True)
df['ssd'].replace('3072',3072,inplace=True)

In [38]:
df['ssd'].value_counts()

512        398
256        184
0          124
1024       111
1028         3
2048         2
3072 GB      1
Name: ssd, dtype: int64

In [39]:
df['hdd'].value_counts()

0 GB       621
1024 GB    160
512 GB      41
2048 GB      1
Name: hdd, dtype: int64

In [40]:
df['hdd'].replace('0 GB',0,inplace=True)

In [41]:
df['hdd'].replace('1024 GB',1024,inplace=True)
df['hdd'].replace('512 GB',512,inplace=True)
df['hdd'].replace('2048 GB',2048,inplace=True)

In [42]:
df['hdd'].value_counts()

0       621
1024    160
512      41
2048      1
Name: hdd, dtype: int64

In [43]:
df['os'].value_counts()

Windows    779
Mac         28
DOS         16
Name: os, dtype: int64

In [44]:
df['os'].replace('Windows',0,inplace=True)
df['os'].replace('Mac',1,inplace=True)
df['os'].replace('DOS',2,inplace=True)

In [45]:
df['os'].value_counts()

0    779
1     28
2     16
Name: os, dtype: int64

In [46]:
df['os_bit'].value_counts()

64-bit    714
32-bit    109
Name: os_bit, dtype: int64

In [47]:
df['os_bit'].replace('64-bit',64,inplace=True)
df['os_bit'].replace('32-bit',32,inplace=True)

In [48]:
df['os_bit'].value_counts()

64    714
32    109
Name: os_bit, dtype: int64

In [49]:
df['graphic_card_gb'].value_counts()

0 GB    577
4 GB    128
2 GB     67
6 GB     37
8 GB     14
Name: graphic_card_gb, dtype: int64

In [50]:
df['graphic_card_gb'].replace('0 GB',0,inplace=True)
df['graphic_card_gb'].replace('2 GB',2,inplace=True)
df['graphic_card_gb'].replace('4 GB',4,inplace=True)
df['graphic_card_gb'].replace('6 GB',6,inplace=True)
df['graphic_card_gb'].replace('8 GB',8,inplace=True)

In [51]:
df['graphic_card_gb'].value_counts()

0    577
4    128
2     67
6     37
8     14
Name: graphic_card_gb, dtype: int64

In [52]:
df['weight'].value_counts()

Casual        520
ThinNlight    264
Gaming         39
Name: weight, dtype: int64

In [53]:
df['weight'].replace('Casual',0,inplace=True)
df['weight'].replace('ThinNlight',1,inplace=True)
df['weight'].replace('Gaming',2,inplace=True)

In [54]:
df['weight'].value_counts()

0    520
1    264
2     39
Name: weight, dtype: int64

In [55]:
df['warranty'].value_counts()

1 year         509
No warranty    278
2 years         23
3 years         13
Name: warranty, dtype: int64

In [56]:
df['warranty'].replace('No warranty',0,inplace=True)
df['warranty'].replace('1 year',1,inplace=True)
df['warranty'].replace('2 years',2,inplace=True)
df['warranty'].replace('3 years',3,inplace=True)

In [57]:
df['warranty'].value_counts()

1    509
0    278
2     23
3     13
Name: warranty, dtype: int64

In [58]:
df['Touchscreen'].value_counts()

No     726
Yes     97
Name: Touchscreen, dtype: int64

In [59]:
df['Touchscreen'].replace('No',0,inplace=True)
df['Touchscreen'].replace('Yes',1,inplace=True)

In [60]:
df['Touchscreen'].value_counts()

0    726
1     97
Name: Touchscreen, dtype: int64

In [61]:
df['msoffice'].value_counts()

No     542
Yes    281
Name: msoffice, dtype: int64

In [62]:
df['msoffice'].replace('No',0,inplace=True)
df['msoffice'].replace('Yes',1,inplace=True)

In [63]:
df['msoffice'].value_counts()

0    542
1    281
Name: msoffice, dtype: int64

In [64]:
df['rating'].value_counts()

4 stars    444
3 stars    352
5 stars     16
2 stars      9
1 star       2
Name: rating, dtype: int64

In [65]:
df['rating'].replace('1 star',1,inplace=True)
df['rating'].replace('2 stars',2,inplace=True)
df['rating'].replace('3 stars',3,inplace=True)
df['rating'].replace('4 stars',4,inplace=True)
df['rating'].replace('5 stars',5,inplace=True)

In [66]:
df['rating'].value_counts()

4    444
3    352
5     16
2      9
1      2
Name: rating, dtype: int64

In [67]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,0,0,1,5,4,0,0,1024,0,64,0,0,0,0,0,34649,2,3,0
1,2,0,1,5,4,0,0,1024,0,64,0,0,0,0,0,38999,3,65,5
2,2,0,1,5,4,0,0,1024,0,64,0,0,0,0,0,39999,3,8,1
3,0,0,0,5,8,0,512,0,0,32,2,0,0,0,0,69990,3,0,0
4,0,0,7,0,4,0,0,512,0,64,0,0,0,0,0,26990,3,0,0

In [68]:
#Till now we have convert all the categorical value to numerical value so we will save the new dataset for our future task.
df.to_csv('/content/drive/MyDrive/rawwork.csv', index=False)